@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    font-family: "Plus Jakarta Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

:root {
    --primary-text-color: #034833;
    --secondary-text-color: #727272;
    --rr-theme-primary: #83CD21;
    --rr-common-white: #FFFFFF;
}

.main {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.container {
    max-width: 1290px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* header */

.headercontainer {
    max-width: 1490px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: contents;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
    height: 71px;
    background-color: #fff;
}

/* .logo img{
    font-size: 32px;
} */
.logo-text {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.px-40 {
    padding: 20px 20px 20px 40px !important;
}

.nav-l{
    display: flex;
}

.check-icon{
    font-size: 30px;
    color: var(--primary-text-color);
    display: none;
}
.nav-text a {
    font-weight: 500;
    color: var(--primary-text-color);
}

.nav-text i {
    color: var(--primary-text-color);
}

.contact-icon {
    font-size: 40px;
    color: var(--primary-text-color);
}

.help-text {
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.contact-number {
    font-weight: 600;
    color: var(--primary-text-color);
}

/* header end*/

/* banner*/

.banner {
    background-image: url(Assets/8695342.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-box {
    padding: 205px 0 175px 0 !important;
}

.banner_content {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.banner__title {
    width: 100%;
}

.banner__text {
    color: #fff;
    font-size: 83px;
    font-weight: 500;
    text-align: center;
}

.banner__title span {
    color: var(--rr-theme-primary);
}


.banner_paragraph {
    color: #fff;
    text-align: center;
}


.filed-button {
    border: none;
    padding: 16px !important;
    background-color: var(--rr-theme-primary);
    font-weight: 600;
    color: #fff;
}

.filed-button:hover {
    background-color: #fff;
    color: var(--primary-text-color);
}
/* banner end*/



/* about-us */

.about-us {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.container {
    max-width: 1290px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-us-content {
    position: relative;
}

.about-us-content img {
    width: 100%;
}

.about-us-media {
    margin-left: 15px !important;
}

.about-us-media-image2 {
    height: 217px;

    margin-top: 45px !important;
}

.about-us-media-image3 {
    position: absolute;
    top: 345px;
    z-index: -1;
}

.about-us-media-image3 img {
    height: 287px;
}

.about-us-media-image4 {
    position: absolute;
    top: 300px;
    left: 213px;
}

.about-card-2 {
    padding-left: 20px !important;
}

.about-us-2-counter {
    padding: 40px 38px !important;
    width: 174px;
    height: 210px;
    margin-top: 16px;
    margin-left: 27px;
    margin-right: 19px;
    border-radius: 20px;
    background-color: var(--rr-theme-primary);
    margin-top: 21px;
    margin-left: 23px !important;
    margin-top: 32px !important;
}

.experience h1 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    font-weight: 800;
}

.experience i {
    font-size: 36px;
    color: #fff;
}

.about-us-2-counter p {
    font-size: 16px;
    color: #fff;
}

.about-text-2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-text-color);

}

.section__title-wrapper {
    width: 100%;
    max-width: 96%;
}

.about-us-content-box {
    margin-top: 45px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
}



.about-text {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.about-box {
    padding: 30px 0 0 0 !important;
}

.box-head i {
    color: var(--rr-theme-primary);
}

.box-header-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.about-paragraph {
    font-size: 13px;
    font-weight: 700;
    color: var(--secondary-text-color);
}


.about-boax-text {
    max-width: 260px;
}


.button-2 {
    width: 100%;
    max-width: 33%;
    border: none;
    padding: 16px !important;
    background-color: var(--rr-theme-primary);
    font-weight: 600;
    color: #fff;
    margin-top: 40px !important;
}

.button-2:hover {
    background-color: var(--primary-text-color);
    color: #fff;
}

/* about-us end */


/* Service section */

.services {
    position: relative;
}

.services::before {
    background: linear-gradient(180deg, #F2EDEB 0%, rgba(245, 240, 238, 0) 100%);
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
    right: 0;
    top: 0;
}

.gray-bg {
    background: #F1F5EB;
}

.app-box {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.unfiled-routed-btn {
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 50%;
    transition: 0.3s;
    border: 1px solid var(--primary-text-color);
}

.service-content {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: space-between;
}

.changes {
    width: 100%;
    max-width: 53%;
}

.service__bg-img {
    background-image: url(Assets/service-slider-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 585px;
    height: 803px;
    position: absolute;
    top: 0;
    right: 0;
}

.service-main {
    position: relative;
    z-index: 1;
}



.service-card {
    text-align: center;
    background: var(--rr-common-white);
    padding: 50px 40px 40px 40px !important;
    border-radius: 20px;
    transition: 0.3s;
    border: 1px solid var(--rr-common-white);
    width: 400px;
}

.row-box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 50px !important;
}

.service-iocon {
    background: var(--rr-theme-primary);
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Service section  end*/



/* footer */

footer {
    background-color: var(--primary-text-color);
    position: relative;
    border-top: 2px solid var(--rr-theme-primary);
}

.logo-text-1 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.footer-wrap {
    padding: 80px 0 102px 0 !important;
}

.footer-section {
    background-image: url(Assets/footer3-bg-img.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid gray;

}

.footer-text {
    font-size: 16px;
    color: #fff;
    padding-top: 40px !important;
}

.footer-social-icons {
    padding-top: 20px !important;
    padding-bottom: 20px !important;

}

.footer-social-icons i {
    color: #fff;
}

.service-footer-head {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.service-points {
    padding-top: 20px !important;
}

.service-text i {
    color: var(--rr-theme-primary);
}

.service-text {
    color: #fff;
    font-weight: 600;
}


.service-section {
    margin-left: 50px !important;
    margin-top: 20px !important;
}

.service-card-text {
    color: var(--primary-text-color);
    font-weight: 700;
}

.service-menu {
    padding-left: 3rem !important;
}

.card-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px !important;
}

.card-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px !important;
}


.card-1 img {
    width: 100%;
}

.card-2 img {
    width: 100%;
}

.copyright {
    padding: 30px 0 !important;
}

.copyright-content .about-paragraph {
    font-size: 10px;
}

.copyright-content .about-paragraph {
    color: #FFFFFF;
}

.n{
    display: none;
}
/* footer end */




/* responsive layout */
@media (max-width: 1199.98px) {
    .banner__text {
        font-size: 50px;
    }

    .about-us-content-box {
        padding-top: 60px !important;
    }

    .about-images-box {
        display: flex;
        justify-content: center;
    }


    .nav-l {
        position: fixed;
        top: 70px;
        flex-direction: column;
        background-color: #f9f9f9;
        right: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        transition: all ease 600ms;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 50px 0 !important;
        align-items: center;
    }

    .check-icon {
        display: block;
    }

 
}


@media (max-width: 920px) {
    .changes {
        width: unset !important;
        max-width: unset !important;
    }

    .service-content {
        display: flex;
        align-items: unset !important;
        width: unset !important;
        justify-content: unset !important;
        flex-direction: column;
        gap: 30px;
    }

    .row-box .service-card:nth-child(2) {
        display: none !important;
    }

}




@media (max-width: 767.98px) {
    .pxxxx {
        padding-top: 40px !important;
        padding-bottom: 20px !important;
    }
}

@media (max-width:733px) {
    .service-menu {
        padding-left: 0 !important;
    }
}

@media (max-width: 613px) {
    .contact-icon {
        display: none !important;
    }

    .px-40 {
        padding: 20px !important;
    }

    .content-text {
        display: none !important;
    }

    .about-us-media-image3 {
        display: none;
    }

    .about-us-media {
        flex-direction: column;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        gap: 63px;
    }

    .about-us-media-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-media-image4 {
        position: unset !important;
    }

    .button-2 {
        max-width: 45%;
    }

    .about-text-2 {
        font-size: 28px;
    }

    .row-box .service-card:nth-child(3) {
        display: none !important;
    }

    .row-box {
        justify-content: center !important;
    }
    .n{
        display: block !important;
    }
}

@media (max-width: 575.98px) {
    .about-us-content-box {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .about-card-2 {
        padding-left: 8px !important;
    }

    .button-2 {
        max-width: 50%;
    }

    .copyright-content {
        flex-direction: column;
        align-items: center;
    }

    .copyright-content>.about-paragraph {
        border-bottom: 1px solid #fff;
    }
    .banner-box {
        padding: 120px 0 175px 0 !important;
    }
    .banner__text {
        font-size: 39px;
    }
}



/* responsive layout */